body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  background:
    linear-gradient(
      to bottom,
      var(--background-color-1) 0%,
      var(--background-color-2) 75%
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  color: inherit;
  text-decoration: inherit;
}

:root {
  --background-color-1: hsl(273, 75%, 66%);
  --background-color-2: hsl(240, 73%, 65%);
  --font-color-standart: hsl(240, 6%, 50%);
  --font-color-special: hsl(237, 12%, 33%);
  --font-size-standart: 12px;
}

h2 {
  margin-bottom: 36px;
  color: var(--font-color-special);
  font-size: 36px;
}

.widget {
  width: 900px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  height: 525px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 20px 30px -15px hsla(0, 100%, 1%, 0.5);
  background-image: url("https://raw.githubusercontent.com/NikitaDobrachev/Nikita-Dobrachev-Developer-Portfolio/7b5bb1ca7f6655e4f755d1ae83dbd4acbdb7eb88/Frontend%20Mentor%20Tasks%20(Frontend)/FAQ%20Accordion%20Card%20Hub/images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: -578px -272px;
}

.widgetContent {
  overflow: hidden;
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-areas: 'pictures accordion';
  border-radius: 15px;
  padding: 45px;
}

#illustrationWoman {
  position: relative;
  top: 30px;
  right: 130px;
  z-index: 1;
}

#illustrationBox {
  display: inline;
  position: relative;
  z-index: 2;
  top: -265px;
  left: -125px;
}

.widget #faq {
  grid-area: accordion;
  padding: 0px 60px 30px 60px;
}

.widget .pictures {
  grid-area: pictures;
}

.widget .content {
  margin-top: 12px;
  margin-bottom: 12px;
}

summary {
  margin-top: 12px;
  margin-bottom: 12px;
  color: var(--font-color-special);
  font-size: 15px;
}

p {
  font-size: var(--font-size-standart);
  color: var(--font-color-standart);
}

#accordionContent hr {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid hsl(240, 5%, 91%);
  box-shadow: 0px 0.5px 0.5px -0.5px hsla(0, 100%, 1%, 0.1);
}

summary {
  list-style-type: none;
  display: flex;
	justify-content: space-between;
	align-items: center;
}