* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: 'Outfit', sans-serif;
}

body {
	background-color: hsl(217, 54%, 11%);
}

a {
	font-style: normal;
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}

a:hover {
	color: hsl(178, 100%, 50%);
}

p {
	margin-bottom: 15px;
}

hr {
	border: none;
	margin-bottom: 15px;
	background-color: hsl(215, 32%, 27%);
	height: 1px;
}

.widget {
	background-color: hsl(216, 50%, 16%);
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-radius: 10px;
	width: 250px;
	margin-top: 150px;
	color: hsl(215, 51%, 70%);
	font-size: 15px;
	font-weight: 400px;
	margin-bottom: 15px;
}

.widgetMainImage {
	border-radius: 5px;
	width: 100%;
}

.widgetHeading	{
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 700px;
	font-size: 20px;
}

.widgetHr {
	color: hsl(215, 32%, 27%);
}

.icon {
	height: 20px;
	width: auto;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
}

.iconRight {
	text-align: right;
	margin-left: 44px;
}

.costTime {
	width: 250px;
	margin-bottom: 15px;
}

.author {
	margin-bottom: 15px;
}

.authorIcon {
	height: 35px;
	width: auto;
	border: solid 0.5px white;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}

.spanText {
	vertical-align: middle;
}

.cyan {
	color:  hsl(178, 100%, 50%)
}

.head {
	width: 250px;
	height: 250px;
	border-radius: 5px;
	background: url("https://i.ibb.co/QMRdJ2Z/image-equilibrium.jpg") no-repeat;
	background-size: cover;
}

.widgetMainImage {
	display: inline-block;
	width: 250px;
	height: 250px;
	z-index: 2;
	opacity: 0;
}

.widgetMainImage:hover {
	opacity: 0.6;
	background-color: hsl(178, 100%, 50%);
}

.eye {
	position: relative;
	left: 41%;
	top: 39%;
	opacity: 1;
	z-index: 3;
}

@media only screen and (max-width: 376px) {
	.widget {
		margin-top: 75px;
	}
}