* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-family: var(--font-family);
	box-sizing: border-box;
	line-height: 1.5;
}

:root {
	--widget-background-color: hsl(244, 38%, 16%);
	--background-color: hsl(233, 47%, 7%);
	--acent-color: hsl(277, 64%, 61%);
	--main-text-color: hsl(0, 0%, 100%);
	--transparent-text-color: hsla(0, 0%, 100%, 0.75);
	--transparent-text-color1: hsla(0, 0%, 100%, 0.6);
	--font-size: 15px;
	--font-family: 'Inter', sans-serif;
	--font-family-extra: 'Lexend Deca', sans-serif;;
}

body {
	background-color: var(--background-color);
}

h1 {
	color: var(--main-text-color);
	font-size: 25px;
	margin-bottom: 15px;
	font-weight: 700;
}

h2 {
	font-size: 20px;
	color: var(--main-text-color);
	margin-bottom: 5px;
	font-weight: 700;
}

.widget {
	font-size: var(--font-size);
	color: var(--transparent-text-color);
	display: grid;
	width: 800px;
	margin-left: auto;
	margin-top: 150px;
	margin-right: auto;
	grid-template-areas: "content image";
	grid-template-columns: 1fr 1fr;
	background-color: var(--widget-background-color);
	font-weight: 400;
	border-radius: 5px;
}

.image {
	filter: opacity(60%);
	width: 400px;
	height: 330px;
	border-radius: 0 5px 5px 0;
}

.imageBackground {
	width: 400px;
	grid-area: image;
	background-color: hsl(277, 90%, 50%);
	border-radius: 0 5px 5px 0;
	height: 330px;
}

.content {
	grid-area: content;
	padding: 35px 50px 35px 35px;
}

.accent {
	color: var(--acent-color);
}

.mainText {
	margin-bottom: 50px;
	font-family: var(--font-family-extra);
	font-weight: 400;
}

.stats {
	display: inline-block;
	font-size: 10px;
	margin-right: 36px;
}

.stats p {
	letter-spacing: 0.15em;
}

@media only screen and (max-width: 800px) {
	.widget {
		grid-template-areas: "image"
							 "content";
		grid-column: 1;
		grid-template-columns: 350px;
		width: 350px;
		text-align: center;
		margin-top: 15px;
	}

	.content {
		padding: 30px;
		padding-bottom: 0px;
	}

	.stats {
		display: block;
		margin-bottom: 15px;
		margin-right: 0;
	}

	.mainText {
		margin-bottom: 15px;
	}

	.image {
		width: 100%;
		height: 230px;
		border-radius: 5px 5px 0 0;
	}

	.imageBackground {
		width: 350px;
		height: 230px;
		border-radius: 5px;
	}
}