html {
	margin: 0;
	padding: 0;
}

body {
	background-color: hsl(216, 12%, 8%);
	box-sizing: border-box;
	font-family: 'Overpass', sans-serif;
}

h1 {
	text-align: center;
}

.rate-form {
	background-color: hsl(213, 19%, 18%);
	color: hsl(217, 12%, 63%);
	padding: 25px;
	width: 350px;
	height: 310px;
	margin: auto;
	margin-top: 200px;
	border-radius: 25px;
	font-size: 15px;
	font-weight: 400;
}


.rate-form h1 {
	color: hsl(0, 0%, 100%);
	margin-bottom: 15px;
}

.circle {
	background-color: hsla(217, 12%, 63%, 0.1);
	padding: 13px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	text-align: center;
	vertical-align: middle;
	line-height: 1.6;
}

#rateMessageText {
	color: hsl(25, 97%, 53%);
	background-color: hsla(217, 12%, 63%, 0.1);
	text-align: center;
	border-radius: 10px;
	display: inline-block;
	margin-left: 90px;
	padding: 5px;
	margin-bottom: 5px;
}

.rating-flexbox {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 20px;
	align-items: center;
	justify-items: center;
}

.rate-form input[type="radio"] {
	display: none;
}

.rate-form label:hover {
	color: hsl(0, 0%, 100%);
	background-color: hsl(217, 12%, 63%);
}

.rate-form input[type="radio"]:checked + label {
	color: hsl(0, 0%, 100%);
	background-color: hsl(25, 97%, 53%);
}
.rate-form input[type="submit"] {
	padding: 15px;
	border-radius: 25px;
	width: 350px;
	background-color: hsl(25, 97%, 53%);
	color: hsl(0, 0%, 100%);
	border: none;
	letter-spacing: 1.5px;
	margin-bottom: 0;
	line-height: 1.6;
}

.rate-form input[type="submit"]:hover {
	background-color: hsl(0, 0%, 100%);
	color: hsl(25, 97%, 53%);
}

.thanksPic {
	margin-left: 23%;
	margin-right: 23%;
	width: 50%;
}

#rateMessage1 {
	text-align: center;
}